body {
    background-color: rgb(32,32,32);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

h1 {
    font-size: 3vw;
    text-align: center;
    padding-top: 3vw;
}

p {
    font-size: 1.5vw;
    text-align: center;
    padding-top: 5vw;
}

strong {

    font-weight: bolder;
    color: rgb(178, 120, 245);

}

.clickLink {

    text-decoration: none;
    font-style: italic;
    color: rgb(144, 229, 255);
    font-weight: bold;

}

.header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.clickLink:hover, .clickLink:active {

    color: rgb(177, 144, 255);

}

.multiline {

    white-space: pre-wrap;

}

::-webkit-scrollbar {

    width: 12px;
    height: 0;

}

::-webkit-scrollbar-thumb {

    background: linear-gradient(transparent, #6649b8);
    border-radius: 6px;

}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}